<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Evolua - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="login-container">
    <h2>Bem-vindo de volta!</h2>

<form>
    <input type="email" placeholder="Email">
    <input type="password" placeholder="Senha">

    <button type="submit">Entrar</button>
</form>

<p class="register-text">
    Não possui conta?  <span> Registrar</span>
</p>

</div>

</body>
</html>